.button {
  -webkit-font-smoothing: antialiased;
  background-color: #222;
  border: none;
  color: #fff;
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;

  text-decoration: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  letter-spacing: 1px;
  color: white;
  width: 105px;
  height: 77px;
  text-transform: uppercase;
  transition: all 0.1s ease-out;
  transform: translateY(-13px);
}

.button:active {
  transform: scale(0.95);
}
.button--bubble {
  position: relative;
  z-index: 2;
  color: white;
  background: none;
}

.button--bubble__container {
  position: relative;
  display: inline-block;
}
.button--bubble__container .effect-button {
  position: absolute;
  width: 50%;
  height: 28%;
  top: 50%;
  left: 25%;
  z-index: 1;
  transform: translate(0, -64%);
  background: #7b4f4f;
  transition: background 0.1s ease-out;
}

.button--bubble__effect-container {
  position: absolute;
  display: block;
  width: 200%;
  height: 400%;
  top: -150%;
  left: -50%;
  filter: url("#goo");
  transition: all 0.1s ease-out;
  pointer-events: none;
}
.button--bubble__effect-container .circle {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  background: #7b4f4f;
  transition: background 0.1s ease-out;
}
.button--bubble__effect-container .circle.top-left {
  top: 33%;
  left: 27%;
}
.button--bubble__effect-container .circle.bottom-right {
  bottom: 37%;
  right: 21%;
  opacity: 0;
}

.goo {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

.button--bubble__container {
  top: 50%;
  margin-top: -25px;
}
